.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.footer__link {
  display: block;
  margin: 0 0.5rem;
  width: 1.75rem;
  height: 1.75rem;
}

.footer__link:hover svg {
  fill: #fce94f;
}

.footer__link svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: #ffffff;
  transition: fill 0.3s;
}
